html,body { 
	background: url(../images/back-login.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	  height:100%;
}

#header {
	border-bottom: 2px solid #ffee00;
	padding: 19px 0;
}

#header #BurgerButton {
	padding-top: 7px;
}

#wrapper-dashboard {
	max-width: 320px;
	margin: 50px auto;
}

#wrapper-dashboard .indicadores {
	width: 100%;
	margin: auto;
	background: #1e1e1e;
	position: relative;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;

	-moz-box-shadow: 0px 1px 7px #000;
	-webkit-box-shadow: 0px 1px 7px #000;
	box-shadow: 0px 0px 5px #000;
	border-bottom: 1px solid #363432;
}

#wrapper-dashboard .indicadores .indicador-1,
#wrapper-dashboard .indicadores .indicador-2 {	
    width: 161px;
    padding: 15px 0 10px 0;
    margin: auto;
}

#wrapper-dashboard .indicadores .wrap-image .counter {
	right: 25%;
	top: -5%;
	width: 27px;
	height: 27px;
	text-align: center;
	padding-top: 4px;
	display: table-cell;
	position: absolute;
	color: #fff;
	background: #bf0310;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 12px;
}

#wrapper-dashboard .indicadores .wrap-image {
	height: 59px;
    margin-bottom: 10px;
    position: relative;
}

#wrapper-dashboard .indicadores p {
	color: #fff;
}

#wrapper-dashboard .indicadores hr {
    border: 0;
    height: 9px;
    width: 100%;
    margin: 0;
    bottom: 0;
    position: absolute;
    background: #ffee00 url('../images/border.jpg') no-repeat;
    background-size: 25px 100%;
}

a, a:hover, a:focus {
	text-decoration: none;
}