html,body {
	background: url(../images/back-login.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	  height:100%;
}

#header {
	border-bottom: 2px solid #ffee00;
	padding: 19px 0;
}

#header #BurgerButton {
	padding-top: 7px;
}

.lista-items .item {
	background: #434142;
	margin-bottom: 15px;
	padding: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.lista-items .item p {
	font-weight: bold;
	margin-bottom: 0;
}

.table-responsive {
	border-color: transparent;
	padding-bottom: 15px;
}

#content {
	padding-bottom: 25px;
}

#wrapper-detalle-solicitudes table {
	width: 100%;
}

#wrapper-detalle-solicitudes table > thead {
	border-bottom: 2px solid #fff;
}

#wrapper-detalle-solicitudes table > thead > tr > th {
	color: #fff;
	padding: 5px;
	text-align: center;
}

#wrapper-detalle-solicitudes table > tbody > tr > td {
	color: #fff;
	padding: 5px;
	text-align: center;
}

.btn-red {
	background: #bf0310;
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	text-align: center;
	border: none;
	min-width: 130px;
	font-weight: bold;
}

#footer {
	border-top: 10px solid #fff;
	background: #434142;
}

#footer > .text {
	max-width: 320px;
	margin: auto;
	padding: 15px;
}

#footer > .text > p {
	margin: 0;
	display: inline-block;
}

#footer > .text > p > small {
	color: #fff;
	font-size: 10px;
	margin-right: 10px;
	display: inline-block;
}

#footer > .text > p > img {
	vertical-align: top;
    margin-top: 3px;
}

/*clases para el footer */
.relative {
	position: relative;
}

.absolute {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.input-control {
	color: #1a1a1a;
	border: none;
	width: 100%;
	max-width: 100%;
	background: #a4a0a0;
	outline: none;
	padding: 9px 5px;
    box-shadow: 0px 0px 6px #1a1a1a;
}

.preview-container {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 142px;
	height: 112px;
}

.glyphicon {
	cursor: pointer;
}

.text-yellow {
	color: #ffee00;
}

.table-respuesta tr td {
	text-align: left !important;
}


@media (max-width: 399px) {
	.preview-container {
		width: 142px;
		height: 112px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}

@media (min-width: 400px) {
	.preview-container {
		margin-right: 15px;
		max-width: 142px;
	}

	.preview-container,
	.respuesta-container {
		float: left;
		width: 47%;
	}
}
