body,html { 
	background: url(../images/back-login.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	  height:100%;
}

#header {
	border-bottom: 2px solid #ffee00;
	padding: 19px 0;
}

#header #BurgerButton {
	padding-top: 7px;
}

#content {
	padding-bottom: 25px;
}

#wrapper-solicitudes {
	margin-top: 50px;
}

#wrapper-solicitudes .table-responsive {
	border-color: transparent;
}

#wrapper-solicitudes table {
	width: 100%;
	margin-bottom: 50px;
}

#wrapper-solicitudes table > thead {
	background: #ffee00;
}

#wrapper-solicitudes table > thead > tr > th {
	color: #1d1d1d;
	padding: 10px;
	text-align: center;
	border: 1px solid #ffee00;
}

#wrapper-solicitudes table > tbody {
	background: #434142;
}

#wrapper-solicitudes table > tbody > tr {
	cursor: pointer;
}

#wrapper-solicitudes table > tbody > tr > td {
	color: #fff;
	padding: 10px;
	text-align: center;
	border: 1px solid #ffee00;
}

#footer {
	border-top: 10px solid #fff;
	background: #434142;
}

#footer > .text {	
	max-width: 320px;
	margin: auto;
	padding: 15px;
}

#footer > .text > p {
	margin: 0;
	display: inline-block;
}

#footer > .text > p > small {
	color: #fff;
	font-size: 10px;
	margin-right: 10px;
	display: inline-block;
}

#footer > .text > p > img {
	vertical-align: top;
    margin-top: 3px;
}

/*clases para el footer */
.relative {
	position: relative;
}

.absolute {
	position: absolute;
	bottom: 0;
	width: 100%;
}