body{
	font-family: 'Montserrat', sans-serif;
	background-color:#9eadb9;
}

.header-login{
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-interna{
	padding: 15px 11px;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

a,p{
	font-family: 'Montserrat', sans-serif;
}

.rm-margin{
	margin: 0;
}

/*CSS TEXTO*/
.text-blue{
	color: #1e3c86;
}

.text-skyblue{
	color: #44aae3;
}

.text-gray{
	color: #9eadb9;
}

.text-white{
	color: #ffffff;
}

.text-black-suave{
	color: #6a6a6a;
}

.font-14{
	font-size: 14px;
}

.font-18{
	font-size: 18px;
}

.font-11{
	font-size: 11px;
}

.font-15{
	font-size: 15px;
}
/*CSS TEXTO*/

.list-vertical{
	list-style: none;
	padding: 0;
	width: 100%;
	margin-top: 15px;
}

.list-vertical li{
	height: 62px;
	padding: 20px 0px;
	border-bottom: 1px solid #d5d5d5;
	background-image: url(../images/iconos/flecha.png);
	background-repeat: no-repeat;
	background-position: right;
}

.list-vertical li a:hover,
.list-vertical li a:focus{
	text-decoration: none;
	color: #1e3c86;
}

.ico-descuentos{
	background-image: url(../images/iconos/ico-cupones.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.ico-noticias{
	background-image: url(../images/iconos/ico-noticias.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.ico-buscador{
	background-image: url(../images/iconos/ico-buscador.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.ico-calendario{
	background-image: url(../images/iconos/ico-calendario.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.back-gray{
	background-color: #dfe6ec;
}

.back-blue{
	background-color: #1e3c86;
	padding: 11px 15px;
}

.back-skyblue{
	background-color: #44aae3;
}

.back-blue a:hover{
	text-decoration: none;
	color: #fff;
}

.menu-lateral{
	border-right: 1px solid #9eadb9;
}

#menu{
	background-image: url(../images/iconos/menu.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 11px;
}

.flecha-left{
	background-image: url(../images/iconos/flecha-left.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 25px;
}

.conten-form{
	padding: 15px 13px;
}

.conten-form .form-group{
/*	width: 50%;
	display: inline;*/
}

#empresa,
#rubro{
	width: 30%;
}

#empresa,
#rubro{
	border: 1px solid #ccc;
	background: url(../images/iconos/arrow.png) no-repeat 95% center #fff !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.footer-interna img,
.footer-interna p{
	vertical-align: middle;
}

.marker{
	background-image: url(../images/iconos/marker.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 6px 35px;
}

.link-mapa a:hover{
	text-decoration: none;
	color: #fff;
}

.link-mapa{
	padding: 15px 0px;
}
